<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- titles %></title>
    <link rel="stylesheet" href="../css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ovo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ovo&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />

  </head>
  <body>
    <div class="container mx-auto">
      <form action="" method="POST">
        <div class="">
          <input
            type="reset"
            class=""
            name="password"
            id=""
            placeholder="Enter email to rest password"
          />
        </div>

        <button
          type="reset"
          class="py-3 px-6 w-full hover:bg-teal-700 transition duration-150 ease-in-out border-none"
        >
          Enter Email
        </button>
      </form>

      <h1>Forgot Password Page</h1>
    </div>
  </body>
</html>
